*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

body {
	line-height: 1.5;
	min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

:root {
	--header-height: 72px;
	--radius-sm: 6px;
	--radius: 10px;
	--accent-gradient: linear-gradient(135deg, #228be6 0%, #37b9f1 100%);
	--accent: #228be6;
	--accent-glow: rgb(34, 139, 230, 40%);
	--border: #e9ecef;
	--bg: #fff;
	--code-bg: #f8f9fa;
	--text: #495057;
	--text-h: #212529;
	--heading: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	--sans: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

[data-mantine-color-scheme='dark'] {
	--border: #373a40;
	--bg: #1a1b1e;
	--code-bg: #25262b;
	--text: #c1c2c5;
	--text-h: #c1c2c5;
}
